<div class="wrapper">
  <h2>Parent Component</h2>

  <ng-container *ngFor="let item of sampleData">
    <button
      mat-flat-button
      color="warn"
      style="margin-right: 12px"
      (click)="passDataToChild(item.childData)"
    >
      {{ item.name }}
    </button>
  </ng-container>

  <div class="title">
    Selected Item :
    <span *ngIf="dataFromChild" class="selected-item">
      {{ dataFromChild?.name }}
    </span>
  </div>

  <div class="wrapper">
    <app-child
      [dataFromParent]="passDataFromParent"
      (onClick)="getDataFromChild($event)"
    ></app-child>
  </div>
</div>
